<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--Only needed for CC configuration START-->
    <add key="IamStsServiceBaseUri" value="https://sts-zpr.preprod.npz.sk/adfs/services/"/>
    <add key="patientPresenceConfirmationServiceUri" value="https://sts-zpr.preprod.npz.sk/PPC/PpcService.svc"/>
    <add key="eidClientAppUri" value="http://localhost:15480"/>
    <add key="nzisServicesCertificatesFile" value="NzisServicesCertificates.xml"/>
    <add key="useCertificatesFromUserStore" value="False"/>
    <!--Only needed for CC configuration END-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="myssl">
          <transactionFlow/>
          <security authenticationMode="SecureConversation" requireDerivedKeys="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <secureConversationBootstrap authenticationMode="IssuedToken" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"/>
          </security>
          <textMessageEncoding/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="MyCustom">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
      <add name="TraceLevelSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="My" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\network.log"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
      <add name="My"/>
    </listeners></trace>
  </system.diagnostics>-->
  <system.net>
    <defaultProxy>
      <proxy  proxyaddress="http://localhost:888"
                     bypassonlocal="true"
        />
      <bypasslist>
        <add address="[a-z]+.ness.com$" />
      </bypasslist>
    </defaultProxy>
  </system.net>
</configuration>
