<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>

    <add key="SyncExt" value="http://services.preprod.npz.sk/ESB.SyncServiceExt/Service.svc" />
    <add key="SyncExtSSL" value="https://sslpzs.preprod.npz.sk/ESB.SyncServiceExt/Service.svc" />
    <add key="TargetServiceIdentifier" value="http://services.preprod.npz.sk" />
    <add key="IamStsServiceBaseUri" value="https://sts-zpr.preprod.npz.sk/adfs/services/"/>


    <!--Only needed for CC configuration START-->
    <add key="useCertificatesFromUserStore" value="false"/>
    <add key="nzisServicesCertificatesFile" value="..\..\..\eHealth.Testing.IntISPZS\bin\Debug\NzisServicesCertificates.xml"/>
    <!-- je potrebné zmeniť cestu na aktuálnu -->
    <!--Only needed for CC configuration END-->
  </appSettings>
  <!--<system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="MyCustom">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.Http">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
      <source name="System.Net.WebSockets">
        <listeners>
          <add name="My"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.Http" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.WebSockets" value="Verbose"/>
      <add name="TraceLevelSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="My" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\network.log"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
      <add name="My"/>
    </listeners></trace>
  </system.diagnostics>-->
  <!--<system.net>
    <defaultProxy>
      <proxy  proxyaddress="http://localhost:8888"
                     bypassonlocal="true"
        />
      <bypasslist>
        <add address="[a-z]+.ness.com$" />
      </bypasslist>
    </defaultProxy>
  </system.net>-->
</configuration>
